! transparency percentage
!100% - FF
!95% - F2
!90% - E6
!85% - D9
!80% - CC
!75% - BF
!70% - B3
!65% - A6
!60% - 99
!55% - 8C
!50% - 80
!45% - 73
!40% - 66
!35% - 59
!30% - 4D
!25% - 40
!20% - 33
!15% - 26
!10% - 1A
!5% - 0D
!0% - 00


rofi.color-enabled: true
rofi.color-window: #55333333, #55333333, #55333333
rofi.color-normal: #0032302f, #d8dee9, #0032302f, #cc458588, #32302f
rofi.color-active: #4d1b2b34, #6699cc, #4d343d46, #4d6699cc, #d8dee9
rofi.color-urgent: #4d1b2b34, #ec5f67, #4d343d46, #4dec5f67, #d8dee9

rofi.modi: run,ssh,window
rofi.separator-style: solid
rofi.show-icons: true
rofi.drun-icon-theme: Paper
rofi.sidebar-mode:    true
rofi.padding:         10
rofi.bw:              0
rofi.scrollbar-width: 0
rofi.line-margin:     0
rofi.lines: 10
rofi.terminal: alacritty
rofi.case-sensitive: false

! special
*.foreground:   #f2efed
*.background:   #282828
*.cursorColor:  #c8ccd4

! black
*.color0:       #32302f 
*.color8:       #928374

! red
*.color1:       #d64d4d
*.color9:       #fb4934

! green
*.color2:       #00b159
*.color10:      #00b159

! yellow
*.color3:       #f18e38
*.color11:      #cc9c00

! blue
*.color4:       #428bca 
*.color12:      #428bca

! magenta
*.color5:       #B85C8A
*.color13:      #B85C8A

! cyan
*.color6:       #669c9c
*.color14:      #669c9c

! white
*.color7:       #a89984 
*.color15: #f2efed
